@charset "UTF-8"

* {

}
body{
    background-color: rgb(33, 33, 33);
    color: white;
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#Title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

h1 {
    font-weight: 200;
}

menu {
    color: rgb(132, 14, 201) ;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
}

p {
    font-size: 20px;
}

span {
    color: rgb(132, 14, 201) ;
}

